language: go
go:
- 1.20
dist: focal

before_script:
- go install github.com/mattn/goveralls@latest

script:
- go test -v -coverprofile=coverage.cov -coverpkg=./,./internal/...,./spec/... ./...
- go test -v -coverprofile=ndt7-client.cov ./cmd/ndt7-client/...
- go test -v -coverprofile=ndt7-prometheus-exporter.cov ./cmd/ndt7-prometheus-exporter/...
- $GOPATH/bin/goveralls -coverprofile=coverage.cov,ndt7-client.cov,ndt7-prometheus-exporter.cov -service=travis-ci
